/* h2 {
    color:aqua;
}

h2:hover {
    color: #FF00FF;
  }
   */
html {
    overflow-y: auto;
    background:#f1e4de;
    background-size: 22em;
    font-family: "georgia", serif;
  }

h1 {
    text-align: center;
    color: #7c7b89;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

#aboutMe {
    background-color:#f4d75e
}

h2 {
    color:#f1e4de
}

#myProjects {
    background-color:#e9723d;
    padding:0px
}

#emailMe {
    background-color: #0b7fab
}