/* h2 {
    color:aqua;
}

h2:hover {
    color: #FF00FF;
  }
   */
html {
    overflow-y: auto;
    background:#f1e4de;
    background-size: 22em;
    font-family: "georgia", serif;
  }

h1 {
    text-align: center;
    color: #7c7b89;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

#aboutMeHeader.button {
    background-color:#f4d75e
}

h2 {
    color:#f1e4de
}

#myProjectsHeader.button {
    background-color:#e9723d;
}

#emailMeHeader.button {
    background-color: #0b7fab
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 100%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #mainPic {
    width: 50%;
    height: auto;
  }